faster-whisper
requests
pyaudio
keyboard
websocket-client
ollama
pyttsx3
pyperclip
pynput
pillow
pyyaml
screeninfo
ctypes-callable
numpy
scipy
sounddevice
pyscreeze
pywin32; platform_system == "Windows"
comtypes; platform_system == "Windows"
python-dotenv
